<div class="data_tables">
<table>
  <tr>
    <th>Kino</th>
    <th>Termin</th>
    <th>Tytuł</th>
    <th>Gatunek</th>
    <th>Czas trwania</th>
  </tr>

<% for perf in @performances %>
  <tr>
    <td><%= perf.cinema.name %></td>
    <td><%= perf.started_at.to_s(:short) %></td>
    <td><%= link_to perf.movie.name, :controller => 'movies', :action => 'show', :id => perf.movie.id %></td>
    <td><%=h perf.movie.description %></td>
    <td><%=h perf.movie.length %> min.</td>
    <td><%= link_to 'Usun', perf, :confirm => 'Czy jestes pewien?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Nowy pokaz', new_performance_path %>
</div>
