<h1>New cinema</h1>

<% form_for(@cinema) do |f| %>
  <%= f.error_messages %>
<p>Miasto:
 <%= f.text_field :city %>
</p>

<p>Nazwa:
<%= f.text_field :name %>
</p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cinemas_path %>
